<!DOCTYPE html>
<html lang="en">
<head>
    <% include templates/commonheaders.ejs %>
</head>

<body>
<% include templates/navbar.ejs %>
<div class="main">
    <h1>Welcome!</h1>
    <p>We're an administration that manages creating secure software. Please click a link to continue.</p>
    <a href="/bugs" class="table-select">Bug Reports</a>
</div>
<% include templates/footer.ejs %>
</body>
</html>

