<!-- Navbar (sit on top) -->
<div id="navbar">
    <a href="/index" class="navbar-item home"><img src="images/LogoSmall.PNG" id="logo" alt="Home"></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="right">
        <a href="/logout" class="navbar-item navbar-item-lowpriority">Logout</a>
    </div>
</div>




