<div id="notification">
    <div id="notification-text">
        <p>Notification</p>
        <p id="notification-message">
            Default notification text
        </p>
        <div id="notification-close" onclick="closeNotification()">Close</div>
    </div>
</div>


